# flyctl launch added from .gitignore
**/.cache
**/.env
**/build
**/dist
**/node_modules
**/public/build

# flyctl launch added from node_modules/digest-fetch/.gitignore
!node_modules/digest-fetch/**/.gitignore
node_modules/digest-fetch/**/node_modules
node_modules/digest-fetch/**/packing

# flyctl launch added from node_modules/tailwindcss/stubs/.gitignore
!node_modules/tailwindcss/stubs/**/*
fly.toml

.git
.gitignore
*.md
dist
Dockerfile
LICENSE
